<div class="profile-menu">
  <button class="avatar" aria-haspopup="menu">👤</button>
  <div class="menu">
    <ul>
      <li><a href="/pages/account/" data-i18n="nav.account">Account</a></li>
      <li><a href="/pages/settings/" data-i18n="nav.settings">Settings</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
    <div class="profile-lang">
      <h4 data-i18n="profile.language">Language</h4>
      <div class="lang-switch">
        <img src="/assets/img/icons/flag-en.png" alt="English" title="English" data-lang="en">
        <img src="/assets/img/icons/flag-de.png" alt="Deutsch" title="Deutsch" data-lang="de">
      </div>
    </div>
  </div>
</div>
